__pycache__
c3d_checkpoint

saved_models/*
!saved_models/.gitkeep

logs/*
!logs/.gitkeep

figures/*
!figures/.gitkeep

checkpoints/*
!checkpoints/.gitkeep

gpu_testing

data/*
!data/.gitkeep

diagnostics
quick_scripts